#stepContainer .ant-steps.formatStepsProgressDot .ant-steps-item-title{
    position: static !important;
}

#stepContainer .ant-steps.formatStepsProgressDot .ant-steps-item-title .ant-progress-outer{
    display:flex;
    flex-direction: column;
    transform: translateX(-24px);
}
#stepContainer .ant-steps.formatStepsProgressDot .Active .ant-steps-item-container .ant-steps-item-tail{
display:none;
}
#stepContainer .ant-steps.formatStepsProgressDot .ant-steps-item-title .ant-progress-outer .ant-progress-text{
    position:absolute;
    bottom:10px;
}